<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Index</title>
</head>

<body>
    <div class="container d-flex align-items-center justify-content-center h-100" style="background-color: #0069D9;">
        <div class="text-center">
            <h1 class="mb-4 text-light">Index</h1>
            <a th:href="@{/addPlayer}" class="btn btn-outline-light mr-2">Add Player</a>
            <a th:href="@{/players}" class="btn btn-outline-light">Players</a>
        </div>
    </div>

</body>

</html>